main {
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #17171c;
  margin: auto;
  padding: 50px 25px;
  border: solid 1px lightgray;
  border-radius: 5px;
  gap: 15px;
  color: white;
}

.results {
  font-size: 50px;
  align-items: center;
}

.container div {
  display: flex;
  gap: 15px;
}

button {
  height: 62px;
  width: 62px;
  border-radius: 24px;
  border: none;
  background: #2e2f38;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:active {
  background-color: #2a85fca4;
  transform: translateY(2px);
}
.lightgrey {
  background: #4e505f;
}

.blue {
  background: #4b5efc;
}
